In [6]:
#lists

list1 = [1,2,3,4,5]
list2 = [11,22,33,44,55]

#concatenation

list3 = list1 + list2
print("the concatenated list is %s"%list3)

#adding items in the list

list3.append(6)
print("List after adding an item is %s"%list3)

#updating items in a list

list3[10] = 66
print("list after updating its last item is %s"%list3)

#removing item from list

list3.remove(66)
print("list after removing an item is %s"%list3)

the concatenated list is [1, 2, 3, 4, 5, 11, 22, 33, 44, 55]
List after adding an item is [1, 2, 3, 4, 5, 11, 22, 33, 44, 55, 6]
list after updating its last item is [1, 2, 3, 4, 5, 11, 22, 33, 44, 55, 66]
list after removing an item is [1, 2, 3, 4, 5, 11, 22, 33, 44, 55]

In [12]:
#tuples

tup1 = (1,2,3,4,5)
tup2 = (6,7,8,9,0)

#slicing 

print("first 3 elements of the tuple are:", tup1[0:3])

#concatenation

tup3 = tup1 + tup2
print("list after concatenation is:",tup3)

#repitition

rep_tup = tup1 * 5
print(rep_tup)

first 3 elements of the tuple are: (1, 2, 3)
list after concatenation is: (1, 2, 3, 4, 5, 6, 7, 8, 9, 0)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [19]:
#dictionaries

dict1 = {1 : "red", 2 : "black", 3 : "blue", 4 : "brown"}
print(dict1)

#update
dict1[1] = "orange"
print(dict1)

#delete
del dict1[1]
print(dict1)

#pop
popped = dict1.pop(4)
print(dict1)
print("element from dict popped is", popped)

{1: 'red', 2: 'black', 3: 'blue', 4: 'brown'}
{1: 'orange', 2: 'black', 3: 'blue', 4: 'brown'}
{2: 'black', 3: 'blue', 4: 'brown'}
{2: 'black', 3: 'blue'}
element from dict popped is brown

In [21]:
#set

set = {1,2,3,4,5}
print(set)

#adding element to a set
set.add(6)
print(set)

#deleting element from a set
set.remove(6)
print(set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}